<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./styles/style.css" />
    <title>Rick Grimes</title>
  </head>
  <body>
    <nav
      class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Menu</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/features">Features</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/gallery">Gallery</a>
          </div>
        </div>
      </div>
    </nav>
    <head>
      <h1>Gallery</h1>
      <p>blah blah blah</p>
    </head>
    <section>
      <div class="row">
        <div class="col-3">
          <div class="card border-0" style="width: 18rem">
            <img
              src="../images/rg-argh.PNG"
              class="card-img-top"
              alt="Rick going argh"
            />
            <div class="card-body"></div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-0" style="width: 18rem">
            <img
              src="../images/rg-art.PNG"
              class="card-img-top"
              alt="Rick is Art"
            />
            <div class="card-body"></div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-0" style="width: 18rem">
            <img
              src="../images/rg-family.PNG"
              class="card-img-top"
              alt="Rick with the fam"
            />
            <div class="card-body"></div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-0" style="width: 18rem">
            <img
              src="../images/rg-grey.PNG"
              class="card-img-top"
              alt="Rick getting Old"
            />
            <div class="card-body"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="card border-0" style="width: 18rem">
            <img
              src="../images/rg-hat.PNG"
              class="card-img-top"
              alt="Rick a Hat"
            />
            <div class="card-body"></div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-0" style="width: 18rem">
            <img
              src="../images/rg-new-world.PNG"
              class="card-img-top"
              alt="A new workd"
            />
            <div class="card-body"></div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-0" style="width: 18rem">
            <img
              src="../images/rg-partner.PNG"
              class="card-img-top"
              alt="Partner in crime"
            />
            <div class="card-body"></div>
          </div>
        </div>
        <div class="col-3">
          <div class="card border-0" style="width: 18rem">
            <img
              src="../images/rg-zombie-kill.PNG"
              class="card-img-top"
              alt="Rick killing a zombie"
            />
            <div class="card-body"></div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
